.dynamic-filter {
  filter: hue-rotate(var(--hue,)) Saturate(var(--sat,)) Brightness(var(--bright,));
}

@for $i from 0 through 20 {
  $percentage: $i * 10;
  .sat-#{$percentage} {
    --sat: #{$percentage / 100};
  }
}

@for $i from 0 through 72 {
  $degrees: $i * 5;
  .hue-#{$degrees} {
    --hue: #{$degrees}deg;
  }
}

@for $i from 0 through 40 {
  $percentage: $i * 10;
  .bright-#{$percentage} {
    --bright: #{$percentage / 100};
  }
}

@for $i from 0 through 20 {
  $percentage: $i * 5;
  .opacity-#{$percentage} {
    opacity: #{$percentage / 100};
  }
}
