.dynamic-filter {
  --hue: 0deg;
  --sat: 100%;

  filter: hue-rotate(var(--hue, 0deg)) Saturate(var(--sat, 100%));
}

@for $i from 0 through 20 {
  $percentage: $i * 10;
  .sat-#{$percentage} {
    --sat: #{$percentage};
  }
}

@for $i from 0 through 36 {
  $degrees: $i * 10;
  .hue-#{$degrees} {
    --hue: #{$degrees}deg;
  }
}

@for $i from 0 through 20 {
  $percentage: $i * 5;
  .opacity-#{$percentage} {
    opacity: #{$percentage / 100};
  }
}