@import 'placeholders';
@import 'leaflet';

:root {
  --ui-font: "Helvetica Neue", Arial, Helvetica, sans-serif;
  --ui-button-size: 5rem;
  --ui-element-spacing: 1rem;
  --ui-border-radius: 0.4rem;
  --ui-border: 1px solid #777777;
  --ui-text-shadow: none; //.1rem 0.1rem #000000;
  --ui-outline: solid #ffffff 0.3rem;

  --ui-background: rgba(255, 255, 255, 0.9);
  --ui-background-disabled: #555555;
  --ui-background-hover: #aaaaaa;
  --ui-background-active: #888888;
  --ui-background-selected: #222222;

  --ui-text: #222222;
  --ui-text-hover: var(--ui-text);
  --ui-text-active: var(--ui-text);
  --ui-text-selected: rgba(255, 255, 255, 0.8);
  --ui-text-disabled: #777777;

  @media(prefers-color-scheme: dark) {
    --ui-border: 1px solid #333333;

    --ui-background: #222222;
    --ui-background-disabled: #555555;
    --ui-background-hover: #363636;
    --ui-background-active: #6d6d6d;
    --ui-background-selected: #BDBDBD;

    --ui-text: rgba(255, 255, 255, 0.7);
    --ui-text-hover: var(--ui-text);
    --ui-text-active: var(--ui-text);
    --ui-text-selected: #222222;
    --ui-text-disabled: rgba(255, 255, 255, 0.5);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html, body {
  margin: 0;
  padding: 0;
  background: #000000;
  overflow: hidden;
  text-shadow: var(--ui-text-shadow);
  font-family: var(--ui-font);
}

:focus {
  outline: var(--ui-outline);
}

:focus:not(:focus-visible) {
  outline-style: none;
}

label:focus-within {
  outline: var(--ui-outline);

   > input:focus {
     outline: none;
   }
}

button {
  @extend %button;
}

.svg-icon {
  fill: currentColor;
  stroke: none;
}

.map {
  width: 100%;
  height: 100vh;
  background: black;
  cursor: default;
}

img.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.leaflet-control-button {
  @extend %button;
  height: var(--ui-button-size);
}

.leaflet-control-panel {
  @extend %panel;
  height: var(--ui-button-size);
}

.leaflet-control-coordinates {
  text-align: center;
  min-width: 20rem;
  font-family: monospace;
  white-space: pre;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;

  &:before {
    display: block;
    content: attr(data-label);
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}

.leaflet-control-link {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
